@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "Lato-Medium";
  src: url('/fonts/lato/Lato-Medium.ttf?1427206712') format('truetype'); }
@font-face {
  font-family: "Lato-Regular";
  src: url('/fonts/lato/Lato-Regular.ttf?1427206714') format('truetype'); }
@font-face {
  font-family: "Lato-Bold";
  src: url('/fonts/lato/Lato-Bold.ttf?1427206704') format('truetype'); }
@font-face {
  font-family: "Poly-Regular";
  src: url('/fonts/poly/Poly-Regular.otf?1370347994') format('opentype'); }
html {
  font-size: 100%;
  line-height: 1.5em; }

* {
  box-sizing: border-box; }

h1, h2, h3 {
  font-family: "Lato-Bold"; }

h1 {
  font-size: 28px; }

a {
  text-decoration: none;
  font-family: "Lato-Medium";
  font-size: 0.75em;
  line-height: 2em; }

p {
  font-family: "Source-Regular"; }

body {
  background-color: #ededed;
  color: #333333; }

header.page-header {
  height: 8em;
  vertical-align: top;
  background-color: #FAFAFA;
  border-bottom: 1px solid #D5D5D5;
  padding: 0 2em 0 2em;
  box-shadow: 0em 0.1em 0.5em 0em rgba(51, 51, 51, 0.1); }
  header.page-header img#logo {
    display: block;
    margin: 0 auto; }
  header.page-header a#menu {
    font-size: 1em;
    line-height: 1.5em;
    position: fixed;
    left: 2.5em;
    top: 2.5em;
    background: #1aadd9;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0em 0.2em 0.4em -0.1em rgba(51, 51, 51, 0.75); }
    header.page-header a#menu span {
      position: relative;
      display: block;
      top: 50%;
      left: 50%;
      width: 1.75em;
      height: 0.25em;
      background: #FAFAFA;
      content: " ";
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    header.page-header a#menu span:after {
      position: absolute;
      display: block;
      top: 200%;
      width: 1.75em;
      height: 0.25em;
      background: #FAFAFA;
      content: " "; }
    header.page-header a#menu span:before {
      display: block;
      position: absolute;
      top: -200%;
      width: 1.75em;
      height: 0.25em;
      background: #FAFAFA;
      content: " "; }
  header.page-header a#menu:hover {
    background: #1589ab; }

main.page-main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: 1em auto;
  width: 100%;
  max-width: 65em;
  padding: 0 0 0 0.5em; }

div.article-container {
  -webkit-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%; }

article {
  margin: 0.5em 0.5em 0.5em 0;
  background: #FAFAFA;
  width: inherit;
  box-shadow: 0em 0.1em 0.5em -0.05em rgba(51, 51, 51, 0.75);
  -moz-transition-property: box-shadow;
  -o-transition-property: box-shadow;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -moz-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }
  article header.article-header {
    position: relative;
    height: 16em;
    overflow: hidden; }
  article a.article-full {
    position: absolute;
    border: #333333 1px solid;
    color: #333333;
    display: inline-block;
    padding: 0 1em 0 1em;
    right: 1em;
    bottom: -4em; }
    article a.article-full:hover {
      color: #FEFEFE;
      background: #333333; }
  article img.article-img {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  article div.article-info {
    position: absolute;
    bottom: -3em;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    -moz-transition-property: bottom;
    -o-transition-property: bottom;
    -webkit-transition-property: bottom;
    transition-property: bottom;
    -moz-transition-duration: 150ms;
    -o-transition-duration: 150ms;
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms; }
    article div.article-info h1.article-title {
      display: inline-block;
      width: 100%;
      padding: 0 0.5em 0 0.5em;
      padding-top: 0.42857em;
      font-size: 1.75em;
      line-height: 1.71429em;
      padding-bottom: 0.42857em; }
    article div.article-info p.article-author {
      padding: 0 1em 0 1em;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      background: none;
      display: inline-block; }
      article div.article-info p.article-author span {
        font-weight: 600; }
    article div.article-info p.article-date {
      background: none;
      display: inline-block; }

article:hover div.article-info {
  bottom: 0;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  -webkit-transition-delay: 500ms;
  transition-delay: 500ms;
  -moz-transition-duration: 200ms;
  -o-transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in; }

article main.article-main {
  position: relative;
  width: inherit;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }
  article main.article-main p.article-abstract {
    -webkit-flex: 1;
    flex: 1;
    width: inherit;
    padding: 0 1em 0 1em;
    font-family: "Poly-Regular";
    padding-top: 2.25em;
    font-size: 1em;
    line-height: 1.5em;
    padding-bottom: 2.25em; }
    article main.article-main p.article-abstract:after {
      content: "…"; }
  article main.article-main a.article-link {
    align-self: flex-end;
    padding: 0 1em 0 1em;
    margin: 0 1.5em 1em 1.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: 1.5px solid #333333;
    color: #333333;
    display: inline-block; }
  article main.article-main a.article-link:hover {
    color: #FAFAFA;
    background: #333333; }
  article main.article-main span.topic {
    position: absolute;
    top: -1.5em;
    right: 1em;
    background: #1aadd9;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0em 0.1em 0.4em -0.05em rgba(51, 51, 51, 0.75); }
    article main.article-main span.topic.topic-cpe {
      background: #aace1b; }
    article main.article-main span.topic.topic-cgp {
      background: #ec2949; }
    article main.article-main span.topic.topic-asso {
      background: #aace1b; }
    article main.article-main span.topic a {
      color: #FAFAFA;
      font-size: 1em;
      line-height: 1.5em;
      line-height: 3em;
      display: inline-block;
      width: inherit;
      height: inherit;
      text-align: center; }
    article main.article-main span.topic:hover {
      background: #179bc2; }
