<article class="article full">
  <!--<aside class="image-holder">
    <img src="http://ls.rosselcdn.net/sites/default/files/imagecache/475x317/2013/08/29/1663884790_B97945015Z.1_20130829120126_000_G241630KG.1-0.jpg" alt="simpsons">
  </aside> -->
  <section>
    <header class="section-header">
      <h1 class="article-title">{{ article.title }}</h1>
    </header>
    <main class="section-main">

      <div class="content" >
        <div ng-repeat="content in article.content">
          <h1>{{ content.header }}</h1>
          <p>{{ content.paragraph }}</p>
        </div>
      </div>
    </main>
    <footer class="section-footer">
      <time pubdate="{{ article.date }}">{{ article.date | date:'shortDate' }}</time>
      <a href="#" rel="author">{{ article.author }}</a>
      <a href="#/articles" class="btn">Retour</a>
    </footer>
  </section>

</article>
